#container{
            position: relative;
            background-color: rgb(245, 11, 50);
            height: 40vw;
            width: 40vw;
            background: url(clock1.png) no-repeat;
            background-size: 100%;
            border: 2px solid black;
            margin: auto;
        }
#hour{
            position: absolute;
            background: black;
            border-radius: 10%;
            height: 30%;
            width: 1.5%;
            top: 20%;
            left: 49.15%;
   /* display: none; */
           transform-origin: bottom;
           
}
        
 #minute{
            position: absolute;
            background: black;
            border-radius: 25%;
            height: 30%;
            width: 1.2%;
            top: 19%;
            left: 49.45%;
  /* display: none; */
            transform-origin: bottom; 
        }
#second{
            position: absolute;
            background: black;
           border-radius: 10%;
            height: 33%;
            width: .8%;
            top: 17%;
           left: 49.5%;
    /* display: none; */
           transform-origin: bottom;
        }
